<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Upload and Prediction</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        h2 {
            margin-bottom: 20px;
        }
        .container {
            max-width: 600px;
        }
        #prediction {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2 class="text-center">Upload Image</h2>
        <form id="upload-form" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <input type="file" class="form-control-file" id="image" name="file">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Predict</button>
        </form>

        <h2 class="text-center mt-5">Prediction:</h2>
        <div id="prediction" class="text-center"></div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#upload-form').submit(function(event) {
                event.preventDefault();
                var formData = new FormData(this);
                $.ajax({
                    url: '/predict',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        $('#prediction').html('<p class="text-success">Prediction: ' + response + '</p>');
                    },
                    error: function(xhr, status, error) {
                        $('#prediction').html('<p class="text-danger">Error predicting image.</p>');
                        console.error(error);
                    }
                });
            });
        });
    </script>
</body>
</html>
